PORT=5001
MONGODB_URI=mongodb+srv://tiennmph50685:<thay_mat_khau_vao_day>@cluster0.mlcdzmp.mongodb.net/duancuoicung?appName=Cluster0
JWT_SECRET=your_jwt_secret_key_here

# Cấu hình gửi Email (OTP Quên mật khẩu)
EMAIL_USER=your_gmail_address@gmail.com
EMAIL_PASS=your_gmail_app_password
